[package]
name = "smr-benchmark"
version = "0.1.0"
authors = ["authors"]
edition = "2021"

[dependencies]
bitflags = "1.3"
cfg-if = "1.0"
clap = "2.33.0"
crossbeam-utils = { path = "./crossbeam-ebr/crossbeam-utils" }
csv = "1.1.6"
rand = "0.8"
typenum = "1.16"
scopeguard = "1.1.0"
hp_pp = { path = "./hp_pp" }
nbr-rs = { path = "./nbr-rs" }
cdrc-rs = { path = "./cdrc-rs" }

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = "0.5"
tikv-jemalloc-ctl = "0.5"

[dependencies.crossbeam-ebr]
package = "crossbeam-epoch"
path = "crossbeam-ebr/crossbeam-epoch"

[dependencies.crossbeam-pebr]
package = "crossbeam-pebr-epoch"
path = "crossbeam-pebr/crossbeam-epoch"

[dependencies.crossbeam-cbr]
package = "crossbeam-cbr-epoch"
path = "crossbeam-cbr/crossbeam-epoch"

# TODO: remove this
[profile.release]
debug = true

[features]
sanitize = ["crossbeam-pebr/sanitize"]
